{% extends 'base.html.twig' %}

{% block body %}

<div class="listUser">
{% for utilisateur in userList %}
    <div>
    <a href="{{ path('user_details' , {id:utilisateur.id}) }}">{{utilisateur.email}}</a>
    </div>

{% endfor %}
</div>

{% endblock %}